{% extends 'blog/base.html' %}

{% block content %}
<div class="card mb-3">
  <h2 class="card-header bg-dark text-white">{{ post.title }}</h2>
  <div class="card-body">
{% if post.image %}
  <img class="img-fluid" src="{{ post.image.url }}" height=200 width=200 />
{% else %}
  <p>"画像無し"</p>
{% endif %}
   <p>{{ post.created_at }}, {{ post.category }}</p>
    <p>{{ post.text | linebreaksbr | urlize }}</p>
  </div>
 </div>
 
{% for comment in post.comment_set.all %}
  <div class="card ">
   <h4 class="card-header bg-dark text-white">コメント投稿者：{{ comment.name }}</h4>
      <div class="card-body">
          <p>{{ comment.created_at }}</p>
          <p>{{ comment.text | linebreaksbr }}</p>
      </div>
  </div>
{% endfor %}

 <a class="btn btn-dark mb-3" href="{% url 'blog:comment' post.pk %}">コメント投稿ページへ</a>
{% endblock %}
